@model PhoneBook.Models.Contact
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>


@using (Html.BeginForm("Update", "Contact", FormMethod.Post))
{
    @Html.Partial("Partials/_DisplayTextBox")

    <input type="submit" name="Добавить" />
}
